services:
  web:
    container_name: web
    build:
      context: .
      dockerfile: ./web/Dockerfile
    restart: unless-stopped
    env_file: .env
    environment:
      VITE_STRAPI_URL: ${VITE_STRAPI_URL}
      VITE_HOST: 0.0.0.0
      VITE_PORT: ${VITE_FRONTEND_PORT}
      VITE_ALLOWED_HOSTS: ${VITE_ALLOWED_HOSTS}
    ports:
      - "${VITE_FRONTEND_PORT}:${VITE_FRONTEND_PORT}"
    networks:
      - strapi
    depends_on:
      - strapi

  strapi:
    container_name: strapi
    build:
      context: .
      dockerfile: ./strapi/Dockerfile
    restart: unless-stopped
    env_file: .env
    environment:
      DATABASE_CLIENT: ${DATABASE_CLIENT}
      DATABASE_HOST: strapiDB
      DATABASE_PORT: ${DATABASE_PORT}
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_USERNAME: ${DATABASE_USERNAME}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
      ADMIN_JWT_SECRET: ${ADMIN_JWT_SECRET}
      APP_KEYS: ${APP_KEYS}
      API_TOKEN_SALT: ${API_TOKEN_SALT}
      TRANSFER_TOKEN_SALT: ${TRANSFER_TOKEN_SALT}
      NODE_ENV: production
      CORS_ORIGIN: ${CORS_ORIGIN}
    volumes:
      - strapi-uploads:/app/strapi/public/uploads
    ports:
      - "1337:1337"
    networks:
      - strapi
    depends_on:
      - strapiDB

  strapiDB:
    container_name: strapiDB
    platform: linux/amd64 #for platform error on Apple M1 chips
    restart: unless-stopped
    env_file: .env
    image: postgres:16.0-alpine
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    volumes:
      - strapi-data:/var/lib/postgresql/data/ #using a volume

    ports:
      - "5432:5432"
    networks:
      - strapi

volumes:
  strapi-data:
  strapi-uploads:

networks:
  strapi:
    name: strapi
    driver: bridge
