@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));


.border-dash-long {
  border-style: dashed;
  border-width: 1.5px;
  border-image: repeating-conic-gradient();
  border-color: var(--greyscale-border-default);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-greyscale-surface-subtle: var(--greyscale-surface-subtle);
  --color-greyscale-surface-default: var(--greyscale-surface-default);
  --color-greyscale-surface-disabled: var(--greyscale-surface-disabled);
  --color-greyscale-border-lighter: var(--greyscale-border-lighter);
  --color-greyscale-border-default: var(--greyscale-border-default);
  --color-greyscale-border-disabled: var(--greyscale-border-disabled);
  --color-greyscale-border-darker: var(--greyscale-border-darker);
  --color-greyscale-text-title: var(--greyscale-text-title);
  --color-greyscale-text-body: var(--greyscale-text-body);
  --color-greyscale-text-subtle: var(--greyscale-text-subtle);
  --color-greyscale-text-caption: var(--greyscale-text-caption);
  --color-greyscale-text-negative: var(--greyscale-text-negative);
  --color-greyscale-text-disabled: var(--greyscale-text-disabled);

  --color-primary-surface-subtle: var(--primary-surface-subtle);
  --color-primary-surface-lighter: var(--primary-surface-lighter);
  --color-primary-surface-default: var(--primary-surface-default);
  --color-primary-surface-darker: var(--primary-surface-darker);
  --color-primary-border-subtle: var(--primary-border-subtle);
  --color-primary-border-lighter: var(--primary-border-lighter);
  --color-primary-border-default: var(--primary-border-default);
  --color-primary-border-darker: var(--primary-border-darker);
  --color-primary-text-label: var(--primary-text-label);

  --color-success-surface-subtle: var(--success-surface-subtle);
  --color-success-surface-lighter: var(--success-surface-lighter);
  --color-success-surface-default: var(--success-surface-default);
  --color-success-surface-darker: var(--success-surface-darker);
  --color-success-border-subtle: var(--success-border-subtle);
  --color-success-border-lighter: var(--success-border-lighter);
  --color-success-border-default: var(--success-border-default);
  --color-success-border-darker: var(--success-border-darker);
  --color-success-text-label: var(--success-text-label);

  --color-error-surface-subtle: var(--error-surface-subtle);
  --color-error-surface-lighter: var(--error-surface-lighter);
  --color-error-surface-default: var(--error-surface-default);
  --color-error-surface-darker: var(--error-surface-darker);
  --color-error-border-subtle: var(--error-border-subtle);
  --color-error-border-lighter: var(--error-border-lighter);
  --color-error-border-default: var(--error-border-default);
  --color-error-border-darker: var(--error-border-darker);
  --color-error-text-label: var(--error-text-label);
}

:root {
  --radius: 0.7rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --gradient-start:#C9E5EC;
  --gradient-end: #FFFFFF;
  
  --greyscale-surface-subtle: #fdfeff;
  --greyscale-surface-default: #ebf0f2;
  --greyscale-surface-disabled: #c1cfd7;
  --greyscale-border-lighter: #C1CFD7;
  --greyscale-border-default: #809cad;
  --greyscale-border-disabled: #9fb4c1;
  --greyscale-border-darker: #3a4e5a;
  --greyscale-text-title: #141b1f;
  --greyscale-text-body: #28363e;
  --greyscale-text-subtle: #4e6879;
  --greyscale-text-caption: #628397;
  --greyscale-text-negative: #fdfeff;
  --greyscale-text-disabled: #c1cfd7;

  --primary-surface-subtle: #fafeff;
  --primary-surface-lighter: #d8eff3;
  --primary-surface-default: #35a1b1;
  --primary-surface-darker: #246670;
  --primary-border-subtle: #d8eff3;
  --primary-border-lighter: #87ced9;
  --primary-border-default: #35a1b1;
  --primary-border-darker: #246670;
  --primary-text-label: #246670;
  --primary-text-title: #383838; 

  --success-surface-subtle: #e6fac8;
  --success-surface-lighter: #c6f27e;
  --success-surface-default: #70a31f;
  --success-surface-darker: #3a5313;
  --success-border-subtle: #e6fac8;
  --success-border-lighter: #c6f27e;
  --success-border-default: #c6f27e;
  --success-border-darker: #3a5313;
  --success-text-label: #3a5313;

  --error-surface-subtle: #ffdecc;
  --error-surface-lighter: #f28985;
  --error-surface-default: #d62b25;
  --error-surface-darker: #600000;
  --error-border-subtle: #ffdecc;
  --error-border-lighter: #f28985;
  --error-border-default: #d62b25;
  --error-border-darker: #600000;
  --error-text-label: #600000;
}
@layer base {
  * {
    @apply border-border outline-ring/50;
    @apply font-['Montserrat'];
    @apply font-['Lato'];
  }
  body {
    @apply bg-background text-foreground;
  }
}
